.close {
  padding: 5px;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.close-fixed {
  position: fixed;
  top: 75px;
  left: 20px;
  z-index: 1000;
}

.close:hover,
.close:focus {
  background-color: #eeeeee;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px){
  .close,
  .close-fixed {
    font-size: 14px;
  }

  .close-fixed {
    top: 10px;
    left: 10px;
    background-color: #eeeeee;
  }
}

@media (max-width: 418px){
  .close {
    top: 10px;
    left: 5px;
  }
}