.comment-warper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-comment {
    display: flex;
    justify-content: center;
    width: 90%;
}

.comment-profile-picture {
    width: 40px;
    height: 40px;
}

.comment-body {
    margin-left: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}
.comment-username {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
}

.comment-time {
    margin-left: 10px;
    text-align: left;
    font-size: 0.8rem;
    color: #767676;
}

.comment-content {
    text-align: left;
    font-size: 1rem;
}

.reply-button {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: #767676;
}

.like-container{
    margin-left: 15px;
}

.like-comment-icon {
    width: 20px;
    height: 20px;
}

.commnet-like-cont {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: #767676;
}

/* Reply css */

.view-reply-button {
    font-size: 0.9rem;
    font-weight: 600;
    color: #767676;
    cursor: pointer;
    margin-bottom: 20px;
}

.reply-container {
    display: flex;
    width: 70%;
    margin: 20px 0px 30px 0px;
}

.reply-profile-picture {
    width: 30px;
    height: 30px;
}

.comment-reply-body {
    margin-left: 15px;
    width: 300px;
}

