.comment-warper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

.main-comment {
    display: flex;
    width: 90%;
}

.comment-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-body {
    margin-left: 15px;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}
.comment-name {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
}

.comment-time {
    margin-left: 10px;
    text-align: left;
    font-size: 0.8rem;
    color: #767676;
}

.comment-content {
    text-align: left;
    font-size: 1rem;
}

.reply-button {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: #767676;
    margin-top: 5px;
    margin-right: 2px;
}

.like-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}

.like-comment-icon {
    width: 20px;
    height: 20px;

}

.commnet-like-count {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    color: #afafaf;
}

.username {
    color: rgb(0, 140, 255);
}  

/* Reply css */

.view-reply-button {
    font-size: 0.9rem;
    font-weight: 600;
    color: #767676;
    cursor: pointer;
    margin-top: 5px;
}

.reply-container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.reply-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-reply-body {
    margin-left: 15px;
    width: 300px;
    flex: 1;
}

