.dropdown {
  position: relative;
  display: inline-block;
}
/* Default position (bottom) */
.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(253, 171, 171, 0.1);
  list-style: none;
  padding: 0;
  margin: 5px;
  z-index: 1000;
  min-width: 160px;
  border-radius: 15px;
  overflow: hidden;
}

.icon-button-not-selected {
  background-color: transparent; /* Default background */
}

/* Change background color when the dropdown is open */
.icon-button-selected  {
  background-color: #eeeeee;
}

/* Dropdown positions with the 'dropdown-menu' class prefix */
.dropdown-menu.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.dropdown-menu.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.dropdown-menu.bottom-left {
  top: 100%;
  left: 0;
}

.dropdown-menu.bottom-right {
  top: 100%;
  right: 0;
}

.dropdown-menu.top-left {
  bottom: 100%;
  left: 0;
}

.dropdown-menu.top-right {
  bottom: 100%;
  right: 0;
}


.dropdown-item {
  padding: 12px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}
  
.dropdown-item:hover {
  background-color: #f1f1f1;
}

.rotate-icon {
  transform: rotateZ(90deg)
}

.dropdown-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}