.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 5px;
  z-index: 1000;
  min-width: 160px;
  border-radius: 15px;
  overflow: hidden;
}

.dropdown-item {
  padding: 12px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}
  
.dropdown-item:hover {
  background-color: #f1f1f1;
}

.rotate-icon {
  transform: rotateZ(90deg)
}