.pagination-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination-container button {
    padding: 6px 10px;
    font-size: 1.2rem;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-container button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pagination-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-container .dots {
    font-size: 1.2rem;
    color: #000000;
    user-select: none;
}