.update-page-header {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 20px 30px 10px 20px;
    width: 90%;
    top: 0px;
    position: sticky;
    background-color: #ffffff;
    z-index: 500;
}

.update-page-title {
    margin: 0 0 0 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.form-group-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 25px 25px;
    border-radius: 20px;
    width: 90vw;
}

.cover-container {
    position: relative;
}

.cover-input-label {
    border-radius: 35px;
    width: 650px;
    height: 350px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(122, 122, 122);
}

.edit-profile-img-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.img-template{
    cursor: pointer;
    color: #a3a3a3;
}

.remove-img-button {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.remove-cover-button {
    top: -10px;
    right: -10px;
}

.remove-profile-button {
    top: -80px;
    right: -15px;
}

.img-upload-dropdown {
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 100;
}

@media (max-width: 768px) {

    .form-group-profile {
        padding: 0;
        padding-top: 10px;
    }
    .remove-profile-button {
        top: -60px;
    }
    .remove-cover-button {
        top: -10px;
        right: -10px;
    }
    .update-page-header {
        top: 0;
        padding:20px 10px 10px 10px;
    }
}

@media (max-width: 576px){
    .form-group-profile {
        margin-top: 20px;
    }
    .remove-profile-button {
        top: -50px;
    }
    .remove-cover-button {
        top: -15px;
        right: -10px;
    }
}

@media (max-width: 512px) {
    
    .form-group-profile {
        margin-bottom: 80px;
    }
}