.report-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.report-modal {
  padding: 20px;
  width: 425px;
  height: 610px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  background-color: rgba(249, 249, 249, 0.8); /* use rgba for better transparency */
  backdrop-filter: blur(10px); /* <--- this creates the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.report-header{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.report-title {
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

/* report option */
.report-reason-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 500;
}

.report-textarea {
  margin-top: 10px;
  padding: 8px;
  height: 80px;
  border-radius: 10px;
  resize: none;
}

.report-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}