.simple-card-container {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* header */

.simple-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.simple-card-user-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.simple-card-profile-picture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.simple-card-username {
    margin-left: 5px;
    text-align: left;
}

.simple-card-time {
    font-size: 0.7rem;
    margin-left: 5px;
    color: #818181;
    text-align: left;
}


/* footer */

.simple-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.simple-card-title {
    margin-left: 5px;
    text-align: left;
}

.simple-card-icon {
    display: flex;
    align-items: center;
}

.simple-card-likes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-card-like-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}