.browse-image-container {
  margin-top: 20px;
  width: 85vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(224,224,224);
  border-radius: 20px;
}

.browse-suggestion {
  margin-bottom: 5px;
  color: #818181;
}

.browse-suggestion-2 {
  color: #818181;
}
.switch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}
  
@media (max-width: 768px){
    .browse-image-container {
        width: 80vw;
    }
}