.browse-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px 10px;
  width: 100%;
}

.search-source-logo {
  width: 40px;
  border-radius: 10px;
}

.browse-suggestion {
  margin-bottom: 5px;
  color: #818181;
}

.browse-suggestion-2 {
  color: #818181;
}
.switch-container {
  display: flex;
  align-items: center;
  padding: 0px 30px 20px 30px;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}
  
@media (max-width: 768px){
}