.browse-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.search-source-logo {
  width: 40px;
  border-radius: 10px;
}

.browse-suggestion {
  margin-bottom: 5px;
  color: #818181;
}

.browse-suggestion-2 {
  color: #818181;
}
.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}
  
@media (max-width: 768px){
    .browse-image-container {
        width: 80vw;
    }
}