.create-page-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    width: 88vw;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0px;
    border-radius: 20px;
    width: 90vw;
}

/*Image Container*/

.img-container {
    display: flex;
    justify-content: center;
    width: 512px;
    border-radius: 25px;
    margin: 15px;
}

.file-input {
    display: none;
}

.file-input-label {
    padding: 150px 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.pixels-button {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 20px;
    background-color: aquamarine;
    border: 1px solid rgb(50, 255, 187);
}

/* Content Container*/

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-title {
    width: 600px;
}

.input-create-content {
    height: 120px;
    width: 600px;
}

.multi-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-author {
    width: 475px;
}

.checkbox {
    display: block; 
    height: 50px;
    width: 20px;
    margin-left: 45px;
}

.autocomplete{
    width: 400px;
    margin: 5px 0px;
}

.category-input {
    width: 200px;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-color {
    width: 20px;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-picker {
    position: absolute;
}

@media (max-width: 768px) {
    .create-page {
        margin-top: 20px;
    }

    .img-container{
        margin: 0;
        padding: 0;
    }

    .input-title , .input-create-content {
        width: 400px;
    }

    .input-author {
        width: 250px;
    }
    
    .checkbox {
        width: 60px;
        margin-left: 25px;
        transform: scale(0.35);
    }

    .autocomplete{
        width: 250px;
        margin-top: 5px;
    }

    .category-input {
        width: 160px;
    }
}

@media (max-width: 512px) {

    .img-container{
        width: 100%;
    }

    .input-title , .input-create-content {
        width: 250px;
    }

    .checkbox {
        width: 290px;
        margin: 0px;
    }

    .autocomplete,.category-input {
        width: 290px;
    }

    .multi-input-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
}