.detailed-page-layout{
  flex-direction: column;
  flex: 100%;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* post content */
.content-wrapper {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
}

/* posted by / post owner css */

.post-owner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 45px;
  margin: 20px;
  max-height: 100px;
}

.post-owner-profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.post-owner-name {
  font-weight: 500;
  text-align: left;
  color: black;
  text-decoration: none;
}

.post-owner-followers {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: left;
}

/* post info */

.detailed-card-post-title{
  font-size: 1.2rem;
  margin: 20px 20px 0px 20px;
  text-align: left;
}

.detailed-card-post-tag{
  font-size: 0.8rem;
  margin: 0px 20px 0px 20px;
  text-align: left;
  color: blue;
}

.detailed-card-post-time{
  font-size: 0.8rem;
  margin: 0px 20px 20px 20px;
  text-align: left;
  color: #818181;
}


/* comment section css */

.modal-box {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  flex: 100%;
}

.commnet-title-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

.comment-header {
  font-size: 1.1rem;
  font-weight: 600;
}

.flip {
  transform: rotateX(180deg);
  transition: transform 0.3s ease-in-out;
}

.flipOut {
  transform: rotateX(0deg);
  transition: transform 0.3s ease-in-out;
}

/* comment input css */
.replyingTo-container {
  display: flex;
  background-color: #eeeeee;
  padding: 5px 0px;
  width: 100%;
  justify-content: center;
}

.replyingTo-text {
  flex: 1;
  color: #767676;
}

.add-comment-container {
  display: flex;
  flex-direction: row;
  padding: 25px;
  max-height: 100px;
}

.user-profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.comment-input {
  height: 40px;
  padding: 0px 0px 0px 5px;
  display: flex;
  flex: 1;
  margin: 0px 5px;
}

.send-comment {
  width: 34px;
  height: 34px;
  padding: 3px;
}

/* post controle */

.post-controle{
  bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 10px;
  width: 250px;
  z-index: 99;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding:5px;
  width: 75px;
}
.control-wrapper-disabled {
  opacity: 0.5; 
  pointer-events: none; 
  cursor: not-allowed;
}

.controle-lable {
  font-size: 0.8rem;
  color: #767676;
}

.post-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Meida */

@media (max-width: 994px){
  .content-wrapper{
    flex-direction: column;
  }
}

@media(max-width : 768px){
  .modal-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 564px){
  .content-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 30px 30px;
  }
}


@media (max-width: 418px){
  .content-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 30px 30px;
  }
}

