.explore-tag-layout{
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

.explore-tag-selected-layout{
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
}

.tag-post-container{
    display: flex;
    margin-top: 10px;
}

.explore-card-grid{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* custom serach */

.explore-search-header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px 0px;
    align-items: center;
}


@media (max-width: 768px){
    .explore-page {
        padding-bottom: 60px;
    }

    .explore-tag-selected-layout{
        margin-top: 25px;
    }
}