.explore-tag-layout{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.explore-tag-selected-layout{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.tag-post-container{
    display: flex;
    margin-top: 10px;
}

.explore-card-grid{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* custom serach */

.explore-search-header {
    display: flex;
    position: sticky;
    top: 10px;
    width: 100%;
    background-color: white; 
    z-index: 10;
    align-items: center;
}


@media (max-width: 768px){
    .explore-tag-selected-layout{
        margin-top: 25px;
    }
}