.login-page {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay-content {
  padding: 20px;
  border-radius: 30px;
  width: 425px;
  height: 610px;
}

.overlay-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  height: 120px;
  align-self: center;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-from {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-appname-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0px 25px 0px;
}

.login-model-name, .login-model-welcome , .login-model-slogan{
  margin: 0px;
  text-align: center;
}

.login-model-name {
  font-size: 1.9rem;
  font-weight: 500;
  color: rgb(66, 66, 66);
}

.login-model-slogan {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(158, 158, 158);
}

.input-login {
  display: block;
  margin: 5px 0;
  height: 40px;
  width: 275px;
  padding-left: 10px;
}

label {
  margin-left: 5px;
  font-size: 0.8rem;
}

.forgot-button {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  width: 310px;
  text-align: left;
  margin: 10px 0px 5px 0px;
  font-size: 0.9rem;
  color: rgb(66, 66, 66);
}

.forgot-button:hover {
  text-decoration: underline;
}

.login-button {
  border: none;
  width: 275px;
  height: 40px;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

.signup-lable {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-link {
  color: rgb(66, 66, 66);
  font-weight: 600;
  cursor: pointer;
}
.signup-link:hover {
  text-decoration: underline;
}