.notification-model {
    position: fixed;
    top: 10px;
    left: 85px;
    bottom: 10px;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
    z-index: 8000;
    overflow: hidden;
}

.notification-header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 102;
}
.notification-title {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
}

.notification-body {
    height: 100%;
    padding-bottom: 10px;
    overflow-y: auto;
}

/* notificaiton template */

.notification-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.notification-user-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 10px;
    cursor: pointer;
    align-items: start;
}

.notification-info-msg{
    display: flex;
    flex-direction: row;
}

.notification-username{
    color: #000000;
    font-weight: 600;
    padding-right: 5px;
}
.notification-username-read{
    color: #494949;
    font-weight: 600;
    padding-right: 5px;
}

.notification-msg-unread {
    text-align: left;
    color: #000000;
}
.notification-msg-read{
    text-align: left;
    color: #494949;
}

.notification-time {
    font-weight: 500;
    font-size: 0.75rem;
    color: #767676;
    text-align: left;
}

.notification-post-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

@media (max-width: 768px){
    .notification-model{
        position: fixed;
        top: 10px;
        right: 10px;
        bottom: 60px;
        left: 10px;
        width: fit-content;
    }

    .notification-body {
        height: 80vh;
    }
}