.profile-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.follow-container {
    display: flex;
    flex: row;
}

.follow-container div {
    margin: 10px;
}

.profile-img {
    width: 150px;
}

p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.user-data {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-name {
    font-size: 2rem;
    font-weight: 500;
}

.user-id {
    font-weight: 400;
    color: rgb(122, 122, 122);
}

.post-container {
    margin: 15px;
}

.post-selector-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.post-selector {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 20px;
    cursor: pointer;
}

.post-selected {    
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}

@media (max-width: 768px){
    .profile-container{
        margin: 20px 0px 80px 0px;
    }
}