.profile-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
}

/* Profle Image */

.profile-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 75px;
    margin-bottom: 70px;
}

.cover-img {
    width: 650px;
    height: 350px;
    border-radius: 35px;
    object-fit: cover;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    position: absolute;
    bottom: -60px;
    z-index: 100;
}


/* User Info */
.user-profile-info{
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-bio {
    color: rgb(122, 122, 122);
}

.user-id {
    font-weight: 600;
    color: rgb(122, 122, 122);
}

.follow-container {
    display: flex;
}

.user-data-wraper{
    width: 75px;
    margin: 10px;
}

.user-data {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-data-label {
    color: rgb(122, 122, 122);
}

/* Profile */

.profile-control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}

.control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

/* Posts */

.post-selector-container {
    display: flex;
    flex-direction: row;
    margin:20px 0px 50px 0px;
}

.post-selector {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 20px;
    cursor: pointer;
}

.post-selected {    
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
}


/* Media */

@media (max-width: 768px){
    .profile-container{
        margin: 20px 0px 80px 0px;
    }

    .cover-img {
        width: 450px;
        height: 250px;
        border-radius: 35px;
        object-fit: cover;
    }

    .profile-img {
        width: 90px;
        height: 90px;
        bottom: -45px
    }
}

@media (max-width: 576px){

    .cover-img {
        width: 90%;
        border-radius: 35px;
        object-fit: cover;
    }

    .profile-img {
        width: 60px;
        height: 60px;
        border: 1px solid rgb(255, 255, 255);
        bottom: -30px;
    }
}
  