.search-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 100%;
}

.search-result-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

/* Tab Bar */

.search-result-tab-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-result-tab-button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.search-result-tab-button.active {
  border-bottom: 2px solid #000;
  color: #000;
}

/* Search Content */

.search-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.search-result-user-card{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.search-result-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
}

.search-result-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-result-user-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.75rem;
}

.search-result-user-username {
    margin: 0;
    font-size: 1rem;
    color: rgb(122, 122, 122);
    margin-left: 0.75rem;
}

@media (max-width: 768px){
  .search-result-root {
    padding: 0px 0px 60px 0px;
    margin-top: 0px;
  }

  .search-result-back-icon-container{
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 15px;
  }

  .search-result-profile-img {
    width: 50px;
    height: 50px;
  }

  .search-result-user-name {
    font-size: 1.2rem;
    margin-left: 0.6rem;
    margin-left: 0.6rem;
  }

  .search-result-user-username {
      font-size: 1rem;
      margin-left: 0.6rem;
  }
}