.page-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top:75px;
  margin-bottom: 20px;
}

:root {
  --MainColor: #6495ed;
}

.main-input {
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  display: block;
  margin: 5px 0;
  color: rgb(97, 97, 97);
  padding:0px 20px;
  height: 50px;
}

.no-blinker{
  user-select: none;
}

p {
  margin: 0;
  text-align: center;
}

.suggestion{
  color: #818181;
}

.message{
  color: #818181;
  font-weight: 500;
}

/* Base button styles */
.button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  padding: 15px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* Main button style */
.main-button {
  background-color: var(--MainColor);
  color: #ffffff;
}

/* Selected button style */
.button-selected {
  background-color: #000000;
  color: #ffffff;
}

/* Disabled button style */
.button-disabled {
  background-color: #e0e0e0;
  color: #a0a0a0; 
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .page-root {
    margin-top:0px;
    margin-bottom: 80px;
  }
}