.page-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 75px;
  padding: 0px 10px;
}

.searchbar-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 5000;
  padding: 10px 10px 0px 10px;
}

:root {
  --MainColor: #6495ed;
}

.main-input {
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  display: block;
  margin: 5px 0;
  color: rgb(97, 97, 97);
  padding:0px 20px;
  height: 50px;
}

.no-blinker{
  user-select: none;
}

p {
  margin: 0;
  text-align: center;
}

.empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 2rem 1rem;
}

.empty-state-message{
  color: #818181;
  font-weight: 500;
}

/* Base button styles */
.button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  padding: 12px 15px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* Main button style */
.main-button {
  background-color: var(--MainColor);
  color: #ffffff;
}

/* Selected button style */
.button-selected {
  background-color: #000000;
  color: #ffffff;
}

/* Disabled button style */
.button-disabled {
  background-color: #e0e0e0;
  color: #a0a0a0; 
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .page-root {
    margin:0px 0px 60px 0px;
    padding: 0px 0px;
  }

  .searchbar-header-container {
    padding: 0px 0px 0px 0px;
  }
}